<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h3>Login Page</h3>
        <hr>
        <div th:if="${param.error}">
            Invalid Username and Password
        </div>
        <div th:if="${param.logout}">
            You have been logout!
        </div>
        <form th:action="@{/authenticateUser}" method="POST">
            <label>Username : </label>
            <input type="text" name="username">
            <br><br>

            <label>Password : </label>
            <input type="text" name="password">
            <br><br>

            <input type="submit" th:value="logout">
        </form>
    </div>
</body>
</html>